<a href="https://colab.research.google.com/github/JahnaviRamagiri/Brain-Tumor-Detection-Classification/blob/master/S7_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Your first and last two lines of code are:

from datetime import datetime
print(datetime.now())

Write a list comprehension expression that can generate 25 random DOB in format 11th, Jun, 1992. Take care or th, rd, st, etc (DOB between 1901 to 2020)

Use https://colab.research.google.com/ (Links to an external site.) for this. 

SHARE PUBLICALLY AVAILABLE LINK FOR YOUR COLAB FILE

PASTE YOUR CODE AND RESULTS/LOG HERE

If the date/time does not match the time of the quiz, then you get -500

If you are taking quiz live-during the lecture, then you get 500 for a correct solution

If you are taking quiz "after" the class, then maximum allowable score would be 200

In [19]:
from datetime import datetime
print(datetime.now())

2020-09-07 13:27:13.647863

In [26]:
import random


month_list = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','sep','Oct','Nov','Dec']
date = random.randint(1,31)
year = random.randint(1901,2020)

suf = {'1':'st','2':'nd','3':'rd','4':'th','5':'th','6':'th','7':'th','8':'th','9':'th','0':'th'}
output = lambda date, month, year : f'{date}th, {month}, {year}' if date in (11,12,13) else f'{date}{suf[str(date)[-1]]}, {month}, {year}'

In [27]:
outlist = [output(random.randint(1,31), random.choice(month_list),random.randint(1901,2020)) for i in range(25)]

In [28]:
outlist

['1st, Jan, 1937',
 '1st, Jan, 1925',
 '7th, Apr, 1944',
 '27th, Apr, 1982',
 '28th, Jan, 2019',
 '19th, sep, 1994',
 '25th, Jul, 1938',
 '14th, Feb, 2005',
 '29th, Dec, 1996',
 '5th, Mar, 1906',
 '31st, Feb, 1984',
 '7th, Oct, 1999',
 '19th, Dec, 1945',
 '2nd, Feb, 1933',
 '6th, Jul, 2014',
 '18th, sep, 1909',
 '21st, Apr, 1973',
 '3rd, Jun, 2003',
 '27th, Oct, 1945',
 '29th, Jul, 1937',
 '28th, Jun, 1985',
 '15th, Mar, 1929',
 '21st, Jan, 1912',
 '31st, Apr, 1951',
 '11th, Aug, 1970']